article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block;
}
audio,canvas,video{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
audio:not([controls]){
	display:none;
	height:0;
}
[hidden]{
	display:none;
}
html{
	font-size:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
html,button,input,select,textarea{
	font-family:sans-serif;
}
body{
	margin:0;
}
a:focus{
	outline:thin dotted;
}
a:active,a:hover{
	outline:0;
}
h1{
	font-size:2em;
	margin:0.67em 0;
}
h2{
	font-size:1.5em;
	margin:0.83em 0;
}
h3{
	font-size:1.17em;
	margin:1em 0;
}
h4{
	font-size:1em;
	margin:1.33em 0;
}
h5{
	font-size:0.83em;
	margin:1.67em 0;
}
h6{
	font-size:0.67em;
	margin:2.33em 0;
}
abbr[title]{
	border-bottom:1px dotted;
}
b,strong{
	font-weight:bold;
}
blockquote{
	margin:1em 40px;
}
dfn{
	font-style:italic;
}
hr{
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
mark{
	background:#ff0;
	color:#000;
}
p,pre{
	margin:1em 0;
}
code,kbd,pre,samp{
	font-family:monospace,serif;
	_font-family:"courier new",monospace;
	font-size:1em;
}
pre{
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
q{
	quotes:none;
}
q:before,q:after{
	content:"";
	content:none;
}
small{
	font-size:80%;
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
}
sub{
	bottom:-0.25em;
}
dl,menu,ol,ul{
	margin:1em 0;
}
dd{
	margin:0 0 0 40px;
}
menu,ol,ul{
	padding:0 0 0 40px;
}
nav ul,nav ol{
	list-style:none;
	list-style-image:none;
}
img{
	border:0;
	-ms-interpolation-mode:bicubic;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:0;
}
form{
	margin:0;
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend{
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px;
}
button,input,select,textarea{
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
button,input{
	line-height:normal;
}
button,select{
	text-transform:none;
}
button,html input[type="button"], input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible;
}
button[disabled],html input[disabled]{
	cursor:default;
}
input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px;
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0;
}
textarea{
	overflow:auto;
	vertical-align:top;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
html,body,div,span,object,iframe,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{
	margin:0;
	padding:0;
}
body{
	background-color:#f3f3f3;
	background-size:cover;
	background-repeat:no-repeat;
	color:#777;
	font-family:"Merriweather",Helvetica,"Microsoft Yahei",sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.6;
}
h1,h2,h3,h4,h5,h6{
	font-weight:500;
	color:#303030;
	margin-bottom:0.5rem;
	line-height:1.25;
	text-rendering:optimizeLegibility;
}
a{
	color:#699;
	text-decoration:none;
	-webkit-transition:color 500ms ease;
	-moz-transition:color 500ms ease;
	transition:color 500ms ease;
}
a:hover{
	color:#366;
}
code,kbd,pre,samp{
	font-family:Menlo,Monaco,Consolas,"Source Code Pro","Courier New",monospace;
}
code{
	padding:2px 4px;
	font-size:90%;
	color:#c7254e;
	background-color:#f9f2f4;
	border-radius:4px;
}
blockquote{
	padding:0.4em 0.5em;
	background:#f2f1f2;
	border-left:5px solid #0093aa;
	color:#4d4e53;
	font-weight:400;
	-moz-tab-size:4;
	tab-size:4;
	-moz-hyphens:none;
	-webkit-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
}
table{
	margin:0.3em auto;
	table-layout:fixed;
	width:80%;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #ccc;
}
table th,table td{
	border:1px solid #ccc;
	padding:0.2em 0.8em;
}
table th{
	text-align:center;
	border-bottom-width:2px;
}
table tbody tr:hover{
	background-color:#f7f7f7;
}
table tbody tr:nth-child(odd){
	background-color:#f9f9fe;
}
.f-cf{
	*zoom:1;
}
.f-cf:before,.f-cf:after{
	display:table;
	content:"";
	line-height:0;
}
.f-cf:after{
	clear:both;
}
.f-tac{
	text-align:center;
}
body{
	text-align:center;
	padding:30px;
	*overflow-x:hidden;
}
.g-container{
	width:920px;
	margin:10px auto;
	overflow:hidden;
}
.u-label{
	display:inline-block;
	vertical-align:middle;
}
.u-label{
	padding:3px 4px;
	min-width:10px;
	line-height:1;
	background:#777;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	-moz-border-radius:3px;
	border-radius:3px;
}
.u-label a{
	color:#fff;
}
a.u-label:hover{
	color:#fff;
}
.u-label-info{
	background:#00bfdd;
}
.u-label-success{
	background:#8dca35;
}
.u-label-warning{
	background:#ff702a;
}
.u-label-error{
	background:#da3610;
}
.u-label-danger{
	background:#da3610;
}
.u-alert{
	padding:5px 10px;
	margin-bottom:1rem;
	border:1px solid transparent;
	border-radius:4px;
}
.u-alert-info{
	color:#006777;
	background:#77edff;
	border-color:#44e6ff;
}
.u-alert-success{
	color:#557920;
	background:#d1eaae;
	border-color:#bbdf86;
}
.u-alert-warning{
	color:#c34000;
	background:#ffd7c3;
	border-color:#ffb490;
}
.u-alert-error{
	color:#7b1e09;
	background:#f7a08c;
	border-color:#f3795d;
}
.m-body{
	background:#fff;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 10px 1px #ddd;
	box-shadow:0 0 10px 1px #ddd;
}
.m-tags{
	padding:0 12px;
}
.m-tags .u-label{
	position:relative;
	padding:5px 8px 5px 14px;
	margin-right:10px;
	-webkit-transition:background-color 0.5s;
	-moz-transition:background-color 0.5s;
	transition:background-color 0.5s;
}
.m-tags .u-label:hover,.m-tags .u-label:hover:before{
	background:#555;
}
.m-tags .u-label:before,.m-tags .u-label:after{
	position:absolute;
	display:block;
	content:"\20";
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transition:background-color 0.5s;
	-moz-transition:background-color 0.5s;
	transition:background-color 0.5s;
}
.m-tags .u-label:before{
	top:3px;
	left:-7px;
	width:16px;
	height:16px;
	background:#777;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.m-tags .u-label:after{
	top:9px;
	left:0;
	width:5px;
	height:5px;
	background:#eee;
}
.m-header .title{
	padding:50px 0 10px;
}
.m-header .title a{
	color:#121212;
	text-decoration:none;
	font-size:42px;
	-webkit-mask:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(#000));
	text-shadow:2px 2px 0 rgba(0,0,0,0.15);
}
.m-header .subtitle{
	padding:0 0 30px;
	color:#777;
}
.m-main{
	text-align:left;
}
.m-navbar{
	font-size:14px;
	overflow:hidden;
}
.m-navbar .menu-container{
	padding:20px 70px;
	text-align:center;
	height:30px;
}
.m-navbar .menu-list{
	border-bottom:1px solid #e0f1f0;
	height:13px;
	overflow:visible;
}
.m-navbar .menu-list >li{
	display:inline-block;
	list-style:none;
	padding:0 10px;
	border-left:1px solid #ccc;
	height:20px;
	line-height:20px;
	background:#fff;
}
.m-navbar .menu-list >li.first{
	border-left:none;
}
.m-navbar .menu-list >li a{
	font-size:16px;
	color:#999;
}
.m-navbar .menu-list >li a:hover{
	color:#366;
}
.m-main,.m-navbar .menu-container{
	padding:0 5%;
}
.m-post{
	padding:0 0 20px;
}
.m-post .head{
	text-align:center;
	padding:20px 0 10px;
}
.m-post .head .date{
	color:#9cc;
	background:#eaf6f7;
	position:relative;
	display:block;
	margin:0 auto 8px;
	width:68px;
	padding:4px 0;
	font-size:12px;
}
.m-post .head .day{
	font-size:14px;
}
.m-post .head .title{
	font-size:32px;
	color:#999;
	font-weight:400;
	font-style:normal;
	line-height:38px;
	padding:0 0 4px;
	margin:0;
}
.m-post .body{
	font-family:"Merriweather",Helvetica,"Microsoft Yahei",sans-serif;
}
.m-post .body img{
	margin:10px 0;
	text-align:center;
	max-width:100%;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.m-post .body img:hover{
	-webkit-box-shadow:0 0 30px 5px rgba(0,0,0,0.1);
	box-shadow:0 0 30px 5px rgba(0,0,0,0.1);
}
.m-post .body menu,.m-post .body ol,.m-post .body ul{
	padding:0 0 0 40px;
}
.m-post .body a{
	text-decoration:underline;
}
.m-post .foot{
	position:relative;
	padding:13px 0 26px;
	color:#ccc;
	margin:15px 0 5px;
	font-style:italic;
}
.m-post .foot .count{
	float:right;
}
.m-post .foot .more{
	float:left;
}
.m-post .foot a{
	color:#999;
}
.m-post .foot a:hover{
	color:#366;
}
.m-post .foot .separate{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-bottom:1px solid #e0f1f0;
}
.m-post .m-tags{
	margin-top:15px;
}
.m-archives .archive-list-count{
	display:inline-block;
	margin-left:10px;
}
.m-archives .archive-list-count:before{
	display:inline;
	content:"( ";
}
.m-archives .archive-list-count:after{
	display:inline;
	content:" )";
}
.m-pagination{
	*zoom:1;
}
.m-pagination:before,.m-pagination:after{
	display:table;
	content:"";
	line-height:0;
}
.m-pagination:after{
	clear:both;
}
.m-pagination .prev{
	float:left;
}
.m-pagination .next{
	float:right;
}
.highlight >table{
	width:100%;
	table-layout:fixed;
	border:none;
}
.highlight td,.highlight th{
	border:none;
	padding:0;
}
.highlight .gutter pre,.highlight .code pre{
	margin:0;
	font:16px "Consolas","Source Code Pro";
	background-color:#f5f5f5;
	border:1px solid #ddd;
	line-height:1.8;
}
.highlight .gutter{
	width:30px;
	text-align:right;
}
.highlight .gutter pre{
	padding:0 3px;
	background-color:#f0f0f0;
	border-right-color:transparent;
	-moz-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.highlight .code pre{
	-moz-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	overflow:auto;
}
.highlight .code .line{
	display:inline-block;
	width:100%;
	padding:0 5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	white-space:pre;
	overflow-wrap:normal;
}
.highlight span.title,.highlight span.keyword{
	color:#5252ee;
}
.highlight span.attribute{
	color:#09c;
}
.highlight span.value,.highlight span.string{
	color:#158c39;
}
.highlight span.number{
	color:#c96529;
}
.highlight span.regexp,.highlight span.literal{
	color:#7e1dae;
}
@media only screen and (max-width: 959px){
	body{
		padding:4px 8px;
	}
	.g-container{
		margin-left:0;
		margin-right:0;
		width:100%;
	}
}
@media only screen and (max-width: 767px){
	body{
		padding:0;
	}
	table{
		width:100%;
	}
	.g-container{
		margin:0;
	}
	.m-post .head .title{
		font-size:22px;
	}
}